{{yield}}

<h2>
  Starlink count
  <span>
    {{#if this.loadingText}}
      <span class='loading-text'>{{this.loadingText}}</span>
    {{else}}
      Total: {{this.totalStarLinkCount}}
    {{/if}}
  </span>
</h2>

<div
  id='chart-parent'
>
  <div
    id='starlinks-overtime-chart'
    {{did-insert this.initEcharts}} {{on 'click' this.refreshTooltipRepresentative}}
  >
    {{this.loadingText}}
  </div>

  {{#if this.tooltipRepresentativeContent}}
    <aside {{on 'click' this.clearTooltipRepresentative}}>
      {{{this.tooltipRepresentativeContent}}}
    </aside>
  {{else}}
  {{/if}}
</div>

<div id='controls-container'>
  <button disabled={{this.loadingText}} {{on 'click' this.toggleDuplicates}}>{{if this.skipDuplicates 'Show All' 'Hide Clones'}}</button>
  <button disabled={{this.loadingText}} {{on 'click' this.toggleDynamicTooltip}}>{{if this.fixedTooltip 'Sticky' 'Static'}} Tooltip</button>
</div>
