{{yield}}

<h2>
  Starlinks Overtime 
  <span>
    {{#if this.totalStarLinkCount}}
      Total Count: {{this.totalStarLinkCount}}
    {{else}}
      Loading...
    {{/if}}
  </span>
</h2>

<div
  id='chart-parent'
>
  <div
    id='starlinks-overtime-chart'
    {{did-insert this.initEcharts}} {{on 'click' this.refreshTooltipRepresentative}}
  >
    Loading...
  </div>

  {{#if this.tooltipRepresentativeContent}}
    <aside {{on 'click' this.clearTooltipRepresentative}}>
      {{{this.tooltipRepresentativeContent}}}
    </aside>
  {{else}}
  {{/if}}
</div>

<div id='controls-container'>
  <button {{on 'click' this.toggleDuplicates}}>{{if this.skipDuplicates 'Show' 'Hide'}} Duplicates</button>
  <button {{on 'click' this.toggleDynamicTooltip}}>{{if this.fixedTooltip 'Dynamic' 'Static'}} Tooltip</button>
</div>
